{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "tabWidth": 4,

    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
