# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build
on:
  push:
  workflow_dispatch:
    inputs:
      upload_release_file:
        type: boolean
        default: false
        description: Upload generated release file as an artifact.
      release_version:
        type: string
        default: ""
        required: true
        description: Use this string as version in the application.

env:
  TEST_REPO: kattecon/gh-app-access-token-gen-test

jobs:
  check:
    name: Build, lint and test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup nodejs
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*

      - name: Build, lint and package if needed
        run: |
          if test -e Makefile; then
            make build lint release-file
          else
            echo "Not building. It's supposed to be a release tag/branch then."
          fi

      - name: Generate token using app_id, pk and repo-name (1)
        id: test_case_1_gen
        uses: ./
        with:
          app_id: ${{ secrets.TEST_APP_ID }}
          private_key: ${{ secrets.TEST_APP_PK }}
          repository: ${{ env.TEST_REPO }}

      - name: Test access using token from (1)
        env:
          GH_TOKEN: ${{ steps.test_case_1_gen.outputs.token }}
        run: gh repo view "$TEST_REPO" --json name

      - name: Generate token using app id, pk and installation id (2)
        id: test_case_2_gen
        uses: ./
        with:
          app_id: ${{ secrets.TEST_APP_ID }}
          private_key: ${{ secrets.TEST_APP_PK }}
          installation_id: ${{ secrets.TEST_APP_INST_ID }}

      - name: Test access using token from (2)
        env:
          GH_TOKEN: ${{ steps.test_case_2_gen.outputs.token }}
        run: gh repo view "$TEST_REPO" --json name

      - name: Upload release artifact
        if: "${{ github.event.inputs.upload_release_file == 'true' }}"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: release
          path: release.tar.gz
